<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
      <h3>Hello, <%= current_user.email %>!</h3>

      <%= button_to "Logout", sessions_url, method: :delete %>
    <% end %>

    <h3> Music App! </h3>

    <%= yield %>
  </body>
</html>
